<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Detailed" />

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
        <add value="index.html" />
        <add value="index.htm" />
      </files>
    </defaultDocument>

    <handlers accessPolicy="Read, Script">
      <remove name="PHP via FastCGI"/>
      <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" allowPathInfo="true" requireAccess="Script" responseBufferLimit="256"/>
    </handlers>

    <rewrite>
      <allowedServerVariables>
        <add name="X_REQUESTED_URL_PATH" />
      </allowedServerVariables>
      <rules>
        <rule name="Existing files" stopProcessing="true">
          <match url="^.*$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Rewrite to index.php" stopProcessing="true">
          <match url="^(.*)$" />
          <serverVariables>
            <set name="X_REQUESTED_URL_PATH" value="{R:1}" />
          </serverVariables>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>