{% extends "layout.twig" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>404</h1>
            <h3 class="text-muted">Page Not Found</h3>
            <p class="lead">
                The page you're looking for either doesn't exist.
            </p>
        </div>
    </div>
{% endblock %}